@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px;
}

.titulo-logo {
	width: 35%;
} 
.logo {
	width: 200px;
	padding-left: 30px;
}

.main-nav {
	width: 65%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.main-nav__item img {
	width: 60px;
}

.main-nav__itemU .exit_session {
	background-color: #0C331B;
	color: #ffffff;
	border-radius: 20px;
	padding: 10px 45px;
	text-decoration: none;
}
