@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}

.producto {
	background-image: url("../imgs/background_productos.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 90vh;
}

.userFormFile {
	margin-top: 20px;
	width: 33.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #a7d595;
	padding: 0 10px 10px 10px;
	border-radius: 5px;
}

.inputsFile {
	display: flex;
	flex-direction: column;
}

.inputsFile input {
	margin-top: 10px;
}

.inputsFile input[type=submit] {
	padding: 8px 10px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	background-color: #416137fc;
	color: white;
}

.userFormFile h3 {
	padding-left: 50px;
	color: #2b8428;
	font-weight: bold;
	padding-top: 5px;
}