@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}

.producto {
	background-image: url("../imgs/background_productos.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 90vh;
}

.cargar_prod {
	margin: 15px 0;
	display: flex;
	flex-direction: column;
}

.cargar_prod h3 {
	color: #448755;
	font-weight: bold;
	text-align: center !important;	
}

.cargar_prod input {
	margin: 10px 0 0 0;
}

.cargar_prod input[type=submit] {
	padding: 8px 10px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	background-color: #6c965efc;
	color: white;
}

.cargar_prod input[type=submit]:hover  {
	background-color: #416137fc;
}