@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}


body{
	background-image: url("../imgs/background_proveedores.jpg");
	background-size: cover;
	font-family: Roboto;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-right: 40px;
    float:right;
}

.main-nav__item{
    display: inline-block;
    
}

.main-nav__item a{
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;

}

.logo{
    background-image: url("../imgs/MinFruver_logo_Mesa de trabajo 1.png");
    background-size: contain;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;    

}

/* .logo1{
    background-image: url("../imgs/MinFruver_logo_Mesa de trabajo 1.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;   
} */ 

.logo1{
	width: 250px;
    height: 250px;
    margin: 0 auto; 
}

.titulo-logo{
    display: flex;
    width: 50%;
    height: 50px;
    padding-left: 5%;
}

.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    
    
}

.window-notice .content {
    background: #caefbdc1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, 0.72);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    border: 3px solid #0C331B;
	border-radius: 15px;
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;

}

.info label {
	font-weight: bold;
	font-size: 20px;
	
}

.info input {
	margin: 5px 0 15px 0;
	padding: 5px 0 5px 25px;
	border: 2px solid #0C331B;  
	border-radius: 10px;
}

.info_btn {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.btn1 {
	cursor: pointer;
	margin: 0 10px;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #6c965efc;
	border-style: none;
	font-weight: bold;
	font-size: 17px;
}

.btn2 {
	cursor: pointer;
	margin: 0 10px;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #6c965efc;
	border-style: none;
	font-weight: bold;
	font-size: 17px;
}

.btn1:hover, .btn2:hover  {
	background-color: #416137fc;
	
}


/*CODIGO DE FORMULARIO DE CREAR USUARIO*/

.tit_welcome
{
	
	display: flexbox;
	flex-wrap: nowrap;
	align-content: flex-end;
	text-align: right;
	font-size: 28px;
	font-weight: bold;	
	/*margin: 180px 250px 0 0;*/
	margin-left: 250px;
	margin-right: 100px;
	margin-top: 180px;
	text-decoration: underline;
	
	
}
.titulo_usu
{
	text-align: center;
	font-size: 30px;
	font-weight: bold;		
}

.formulario {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	margin: 100px 100px 75px 0;
}

.formulario h2 {
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid black;
	margin-right: 70px;
}

.userForm {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.userForm label {
	font-weight: bold;
	margin: 5px 0;
}

.userForm input {
	padding: 8px 10px;
	border-radius: 5px;
}

.send_data {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.send_data input {
	padding: 8px 10px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	background-color: #6c965efc;
	color: white;
}

.send_data input:hover {
	background-color: #416137fc;
}


