@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}

.reporte {
	background-image: url("../imgs/background_reportes.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
}

.formularioRep {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 650px;
	min-height: 450px;
}

.formularioRep h2 {
	margin-bottom: 10px;
	font-size: 35px;
	font-weight: bold;
	border-bottom: 2px solid #D3D3D3;
	/*margin-left: 630px;*/
}

#botns_consultas2 {
	display: flex;
	justify-content: center;
	width: 600px;
	background-color: #0c331b;
	border-radius: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	margin: 0;
}

.card img {
	margin: 0 auto;
	padding-top: 30px;
}