@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@font-face{font-family:Roboto;
src:url("../fonts/Roboto-Regular.ttf");
}

.venta {
	background-image: url("../imgs/background_ventas.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
}

.formulario1 {
	margin: 10px 0 30px 600px;
}

.formulario1 h2 {
	margin-bottom: 25px;
	font-size: 35px;
	font-weight: bold;
	border-bottom: 2px solid #D3D3D3;
	padding-left: 400px;
}

.userForm1 {
	display: flex;
	flex-direction: column;
	width: 15%;
	font-size: 15px;
}

.userForm1 label {
	font-weight: bold;
	margin: 5px 0;
}

.userForm1 input {
	padding: 5px 5px;
	border-radius: 5px;
}

.consultClient {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

label {
	text-align: center;
}

.consultClient div{
	margin-right: 88px;
}

.consult_cedula {
	display: flex;
	justify-content: space-between;
}

.consult_cedula input{
	margin-right: 5px;	
}

input[type=submit] {
	cursor: pointer;
	padding: 8px 10px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	background-color: #6c965efc;
	color: white;
}

.send_info_ventas {
	background-color: #fac900 !important;
	color: #000000 !important;
	font-weight: bold;
	font-size: 16px;
	width: 200px;
	padding: 5px 4px !important;
	margin: 20px 0 20px 680px;
}

.ced_udu {
	padding-left: 770px;
}



	

